## Integers ( int() )

In [3]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x,y,z)

1 2 3

## Floats ( float() )

In [4]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x,y,z,w)

1.0 2.8 3.0 4.2

## Strings ( str() )

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0' 

print(x,y,z)

<hr>

In [5]:
x = int('1test')

ValueError: invalid literal for int() with base 10: '1s'

In [6]:
x = float('1test')

ValueError: could not convert string to float: '1test'